body {
    font-family: 'Montserrat', sans-serif;
    background-color: #d7e3f0;
}
.header {
   display: block;
  
}
.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: 550px;
}
.block-center {
    background-color: #7fffd4;
    line-height: 100px;
    width: 1200px;
    margin-left: 40px;
}
.two-block {
    width: 1200px;
    display: flex;
    margin-left: 40px;
}
.main-container {
    background-color: rgb(182, 115, 245);
    width: 550px;
    border: 1px solid blue;
    margin: 5px;
    padding-left: 50px;
    line-height: 50px;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: rgb(236, 43, 43);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: -250px;
    right: 40px;
    
  }

.sidebar-section {
    width: 600px;
    background-color: rgb(207, 207, 179);
    border: 1px solid blue;
    margin: 5px;
}
.button-text {
    width: 1200px;
    display: flex;
    margin-left: 40px;
}
.button-div {
    background-color: rgb(163, 163, 241);
    border: 1px solid blue;
    margin: 5px;
    width: 625px;
}
.button-cl {
    margin: 5px; 
    
}
.box {
    width: 400px;
}
.button {
       margin: 10px;
    
}
.text {
    background-color: rgb(207, 177, 235);
    border: 1px solid blue;
    margin: 5px;
    width: 600px;
}
.left-arrow {
    display: inline-flex;
  position: relative;
  top: -180px;
  right: 45px;
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
} 
.right-arrow {
  display: inline-flex;
  position: relative;
  top: 5px;
  left: 550px;
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
}

.left-arrow::before, 
.right-arrow::before {
  position: absolute;
  display: inline-flex;
  width: 6px;
  height: 6px;
  content: '';
}

.left-arrow::before {
  top: 6px;
  left: 7px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  transform: rotate(-45deg);
}

.right-arrow::before {
  top: 6px;
  left: 5px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

/* Иземнение фона и цвета при наведении*/
.left-arrow:hover, 
.right-arrow:hover {
  background-color: lightgray;
}

.left-arrow:hover:before, 
.right-arrow:hover:before {
  border-color: gray;
}
